[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hyperbool = {editable = true, path = "."}
jcc = {path = "./pylucene/jcc", editable = false}
pyparsing = "*"
pytest = "*"
dataclasses-json = "*"
lupyne = "*"
cpython = "*"
jupyter = "*"
jupyterlab = "*"
progressbar2 = "*"
wget = "*"
requests = "*"
tqdm = "*"
lxml = "*"
transformers = "*"
sentence-transformers = "*"
nltk = "*"
trectools = "*"
ir-measures = "*"
appdirs = "*"
unsync = "*"
aiofiles = "*"
aiofile = "*"
click = "*"
seaborn = "*"
prompt-toolkit = "*"
lucene = {path = "./pylucene/dist/lucene-8.11.0-cp39-cp39-macosx_10_14_x86_64.whl"}

[dev-packages]

[requires]
python_version = "3.9"
